body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 43, 107);
}

header {
    background-color: #87b3e2;
    color: #fff;
    padding: 20px;
    justify-content: space-around;
}

#menuSuperior nav ul{
    display: flex; 
    font-size: 30px;
    float: right;
}

#menuSuperior nav ul li a{ 
    text-decoration: none; 
    color: rgb(47, 64, 165);
}

#menuSuperior nav ul li{ 
    list-style: none; 
    padding: 20px; 
}

h1, h2 {
    color: #ffffff;
    font-size: 50px;
}
p {
    line-height: 1.6;
    margin-left: 20px;
    color: white;
}

#listaordenada ol{
color: white;
}

img{
   height: 500px;
   width: 1900px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption{
    color: white;
    font-size: 50px;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

td{
    color: white;
}