body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(29, 43, 107);
}

#menuSuperior nav ul{
    display: flex; 
    font-size: 30px;
    float: right;
}

#menuSuperior nav ul li a{ 
    text-decoration: none; 
    color: rgb(78, 134, 172);
}

#menuSuperior nav ul li{ 
    list-style: none; 
    padding: 20px; 
}

#iniciosesion {
    background-color: #88a4ce;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

}

h2 {
    text-align: center;

}

#nombrein {
    margin-bottom: 15px;

}

label {
    display: block;
    margin-bottom: 5px;

}

input {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}